<main>
  <div>
   <%= render 'books/index', book: @book, user: @user %>
  </div>
  <div>
    <h2>Books</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
         <tr>
           <td><%= image_tag user.get_profile_image(40, 40) %></td>
           <td><%= user.name %></td>
           <td><%= link_to "Show", user_path(user.id)  %></td>
         </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
