<main>
  <div>
    <div>
      <div>
        <h1>
          Welcom to
          <i></i>
          <strong>Bookers</strong>
            !!
        </h1>
        <p>you can share and exchange your opinions, inpressions, and emotions</p>
        <p>about various books!</p>
        <div>
          <div>
           <a><%= link_to "Log in", new_user_session_path %></a>
          </div>
          <div>
            <a><%= link_to "Sign Up", new_user_registration_path %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

